.searchInput {
  height: 50px;
  border-radius: 150px 0px 0px 150px;
}

.searchInput:hover {
  box-shadow: 0px 0px 5px rgb(200, 200, 200);
}

.searchInput:focus{
  outline:0;
  box-shadow: 0px 0px 5px rgb(200, 200, 200);
}